<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - PizzaCrunchWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PizzaCrunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PizzaCrunchWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BA3CD8A1C5C13FF00921514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA3CD9E1C5C140000921514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA3CDA91C5C140000921514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF771481C5E92DE0092515F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
